Slicing: we can slice substrings, sublist, subtuples using index
structure -> [start : end + 1 : step]
start => inclusive
end => exclusive

In [8]:
x = 'computer'
print(x[1: 4])
print(x[1: 6: 2])
print(x[3:])
print(x[:4])
print(x[-1])
print(x[-3:])
print(x[: -3])
print(x[-5::2])

omp
opt
puter
comp
r
ter
compu
ptr

adding /concatenating: combine 2 sequences (string, list, tuple) of the same type by using +

In [10]:
x = 'horse'  + ' ' + 'shoe'
y = [1, 2, 3] + [33,22, 11]
z = (1,2,3) + (100,) # we add "," at the end of the 1 so we tell the python this is a tuple

print(x)
print(y)
print(z)

horse shoe
[1, 2, 3, 33, 22, 11]
(1, 2, 3, 100)

multiplying : mulitply a sequence using *

In [11]:
x = 'bug' * 3
y = [1,2,3] * 4
z = (1,) * 4

print(x)
print(y)
print(z)

bugbugbug
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 1, 1, 1)

In [12]:
x = 'bug' + 'test' * 3
y = [1,3,4] * 3 + [122]
z = (1,23) + (24,4) * 4
print(x)
print(y)
print(z)

bugtesttesttest
[1, 3, 4, 1, 3, 4, 1, 3, 4, 122]
(1, 23, 24, 4, 24, 4, 24, 4, 24, 4)

checking membership: test whether an item is a or not a member of a sequence using "in" key word
eg: 
- 'u' in 'bug'
- 23 in [1,2,3,4]
- 'bug' in ('bug', 'test')

In [14]:
x = 'this is life'
y = [1,3,4,5,6]
z = (1,3,4,5,5)

#print(3 in x) # this will throw an error ('in ' requires string as left operand, not int)
print('this' in x)
print('bug' in y) # but this wont throw error because numbers can be converted to string but not vice versa
print(1 in z)

True
False
True

iterating: iterating through a sequence can be done using for or foreach loop or use enumerate(lst) to get index and item

foreach : for item in x:

for: for i in range of (something)

for enumerate: for index, item in enumerate(lst)

In [19]:
x = [1,3,4,5]
for num in x:
    print(num)

y = ('this', 'life', 'is', 'great')
res = ''
for i in range(len(y)):
    res += y[i] + ' '
print(res)

z = (1, 3, 4, 5,6)
for index, item in enumerate(z):
    print(str(item) , ' is in index ' , str(index))  # int should be explicitly converted to string otherwise we get error

1
3
4
5
this life is great
1  is in index  0
3  is in index  1
4  is in index  2
5  is in index  3
6  is in index  4

number of items: to get the count of item we use len(sequence)

In [22]:
x = 'bug'
y = [1,3,5,5,6]
z = (1,3,4,5,5,'bug')
print(len(x))
print(len(y))
print(len(z))

3
5
6
52

minimum : find the min item in a sequence lexicographically
alpha or numeric but cannot mix both

allowed -> min([1,3,55,5])
not allowed -> min([1,3,4,5,'bg'])

In [23]:
x = 'buga'
y = (55,3,4,5,3,5)
z = ('jakc', 'sparw', 'ahb')
print(min(x))
print(min(y))
print(min(z))

a
3
ahb

maximum : finds the max item in a sequence lexicographically.
alpha or numeric but not both

In [24]:
x = 'bug'
y = [13,4,5,2,3,200]
z=('bdef', 'de4324','fsdf')
print(max(x))
print(max(y))
print(max(z))

u
200
fsdf

sum: finds the sum of all elements in the sequence.

elements must be numeric otherwise get error

In [27]:
# x = ['5ds', 'fbug',5]   # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# print(sum(x))

y = [1,3,4,5,5]
print(sum(y))

print(sum(y[4:]))

z = (1,3,5,5,6)
print(sum(z[-4:]))

18
5
19

sorting: "sorted(sequence)" returns a new list with items sorted. 
does not change the original sequence

In [30]:
x = 'bugac' # converts string to list and then sort it and return a new list
print(sorted(x))

y = [1,3,4,5,6,44,223,22,3]
print(sorted(y))

z = ('jack', 'habib', 'ava', 'tom')
print(sorted(z))

['a', 'b', 'c', 'g', 'u']
[1, 3, 3, 4, 5, 6, 22, 44, 223]
['ava', 'habib', 'jack', 'tom']

sorting with lambda function : we can sort elements of sequence using multiple or other parameter using lambda fuction

structure: sorted(sequence, key = lambda item: item[1]) --> sorted based on the second character
sequence = ['habib', 'jack', 'tom']

In [32]:
sequence = ['habib', 'jack', 'tom']
sorted_sequence = sorted(sequence, key = lambda item : item[-1])
print(sorted_sequence)

['habib', 'jack', 'tom']

count(item) : returns the count of an element inside a sequence

structure : sequence.count(item)

In [33]:
x = 'hippo'
y = [1,3,4,5,3,2]
z = ('jack', 'habib', 'tom')

print(x.count('a'))
print(y.count(3))
print(z.count('habib'))

0
2
1

index(item) : returns the first index of an item inside a sequence

structure: sequence.index(item)

if it does not find the element then it throws error "substring not found" or anything else not found

In [43]:
x = 'hippo'
y = [1,3,4,5,3,2]
z = ('jack', 'habib', 'tom')

print(x.index('p'))
#print(x.index(322)) --> TypeError: must be str, not int
print(y.index(3))
#print(z.index('to')) --> throws error : tuple.index(x): x not in tuple
print(z.index('tom'))
# print(x.index('a')) --> ValueError: substring not found

2
1
2

unpacking: we can unpack a sequence into variables

variables should be equal to number of items in the sequence

In [46]:
x = ['jack','bom', 'yom']
a, b, c = x
print(a,b,c)

# a,b = x  # ValueError: too many values to unpack (expected 2)
# print(a,b)

# a,b,c,d = x  # ValueError: not enough values to unpack (expected 4, got 3)
# print(a,b,c,d)

jack bom yom

ValueError: not enough values to unpack (expected 4, got 3)

lists:
- grow and shrink size as needed
- sequence type
- sortable

In [48]:
x = list()
y = [1,3,4, 'ab', '32', 3.2]

t = (1,3,4,5)
s = 'abcdefewr'
z = list(t)
z2 = list(s)
print(z)
print(z2)

# list comprehension
a = [m for m in range(10)]
print(a)

b = [i**2 for i in range(10) if i%2 == 0]
print(b)

[1, 3, 4, 5]
['a', 'b', 'c', 'd', 'e', 'f', 'e', 'w', 'r']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 4, 16, 36, 64]

delete: can delete an item or the whole list using "del" key word

structures: 
- del(item)
- del(lst)

In [50]:
x = [1,3,4,2]
print(x)
del(x[1])
print(x)
del(x)
# print(x)  -> throws error since x does not exist anymore

[1, 3, 4, 2]
[1, 4, 2]

append : adds an item to the end of a list

In [52]:
x = [3,4,5,6]
print(x)

x.append(100)
print(x)

x.append([2,3,45])
print(x)

[3, 4, 5, 6]
[3, 4, 5, 6, 100]
[3, 4, 5, 6, 100, [2, 3, 45]]

extend: similar to + function adds all elements of a sequence to the end of our list

In [55]:
x = [4,3,2,3]
y = [44,33,22]
z = 'sbdsdf'

t = (32,32)
print(x)
x.extend(y)
print(x)

x.extend(z)  # converts string to a list and then extends it to x
print(x)

x.extend(t)
print(x)

[4, 3, 2, 3]
[4, 3, 2, 3, 44, 33, 22]
[4, 3, 2, 3, 44, 33, 22, 's', 'b', 'd', 's', 'd', 'f']
[4, 3, 2, 3, 44, 33, 22, 's', 'b', 'd', 's', 'd', 'f', 32, 32]

insert : inserts an item at a give index

structure: sequence.insert(index, item)

In [64]:
x = [4,3,2,34,5]
y = 'abicd'
print(x)

x.insert(1,55)
print(x)

x.insert(3, y)
print(x)

x.insert(111, 112) # inserts 112 at the end of the list
print(x)

x.insert(-100, 332) # inserts 332 at the beginning of the list
print(x)

[4, 3, 2, 34, 5]
[4, 55, 3, 2, 34, 5]
[4, 55, 3, 'abicd', 2, 34, 5]
[4, 55, 3, 'abicd', 2, 34, 5, 112]
[332, 4, 55, 3, 'abicd', 2, 34, 5, 112]

pop: pops the last items from the list and returns it

In [65]:
x = [1,3,4,5,6]
y = x.pop()

print(x, y)

[1, 3, 4, 5] 6

remove: remove the first instance of an item

if it does not find the element then throws error "ValueError: list.remove(x): x not in list"

In [68]:
x = [1,3,4,3,5,6]
x.remove(3)

print(x)

# x.remove(0)  ValueError: list.remove(x): x not in list

[1, 4, 3, 5, 6]

reverse : reverses the order of a list. it is in-place operation and changes the actual list

In [71]:
x = [1,3,4,5]
print(x)
x.reverse()
print(x)

y = []
y.reverse()
print(y)

[1, 3, 4, 5]
[5, 4, 3, 1]
[]

sort: sorts a list

- sorted(x) : returned a new list
- x.sort() : in-place sort and does not return a new list

In [72]:
x =[4,3,2,6,8,7]
x.sort()
print(x)

[2, 3, 4, 6, 7, 8]

reverse sort: pass argument reverse=True to x.sort function

structure: x.sort(reverse=True)

In [73]:
x = [1,4,6,42,3,2,3]
x.sort(reverse=True)
print(x)

[42, 6, 4, 3, 3, 2, 1]

Tuples:

- immutable (can't be changed)
- hashable (can be used as a dictionary key)
- faster than a list
- sequence type

In [78]:
x = ()
x = (1,3,4)
x = 1,3,4
x = 2,

print(x, type(x))

l = [1,3,4,5]
y = tuple(l)
print(y, type(y))

s = 'abcdef'
z = tuple(s)
print(z, type(z))

print(type(z) == tuple)
print(type(z) == str)

(2,) <class 'tuple'>
(1, 3, 4, 5) <class 'tuple'>
('a', 'b', 'c', 'd', 'e', 'f') <class 'tuple'>
True
False

tuples are immutable but member objects may be mutable.

In [86]:
x = (1,3,45)
# del(x[1])  # TypeError: 'tuple' object doesn't support item deletion
# x[1] =2  # TypeError: 'tuple' object does not support item assignment
print(x)

x = ([1,3,45], 3)
print(x, id(x))
del(x[0][1])
print(x, id(x))

x += (4,3)  #it allows concatenation -> because it creates a new tuple an returns a new tuple
print(x, id(x))

(1, 3, 45)
([1, 3, 45], 3) 4461695360
([1, 45], 3) 4461695360
([1, 45], 3, 4, 3) 4460139744

Sets:
- store unique items
- very fast access (O(1))
- supports all math Set ops (union, intersect)
- sets are unsorted (can't be sorted)

In [100]:
x = {1,3,4,5,6,3}
print(x)

y = set()
print(y)

lst = [1,3,4,3,2,3]
z = set(lst)
print(z, type(z), id(z))

s = 'abcdeffsd'
zs = set(s)  #converts the string to a list and then add the list to set
print(zs, id(zs))


zs.add('habib')
print(zs)

#zs.remove('jack')  # cant find 'jack' throws error : KeyError: 'jack'
#print(zs)

zs.remove('c')
print(zs)

print(len(zs))

print('c' in zs)

print(zs.pop(), zs)

zs.clear()
print(zs)

del(zs)
# print(zs)

{1, 3, 4, 5, 6}
set()
{1, 2, 3, 4} <class 'set'> 4460374816
{'c', 'b', 'd', 'e', 'f', 'a', 's'} 4460370784
{'habib', 'c', 'b', 'd', 'e', 'f', 'a', 's'}
{'habib', 'b', 'd', 'e', 'f', 'a', 's'}
7
False
habib {'b', 'd', 'e', 'f', 'a', 's'}
set()

NameError: name 'zs' is not defined

Mathematical Set Operations:

intersection (AND) : s1 & s2 
union (OR) : s1 | s2
symmetric difference (XOR): s1 ^ s2 (items that not shared between them)
difference (-): s1 - s2 (items in s1 but not s2)
subset (s2 contains s1): s1 <= s2
superset (s1 contains s1): s1 >= s2

In [107]:
s1 = {1,3,2}
s2 = {3,4,5}

i = s1 & s2
print('intersection ', i, type(i))

u = s1 | s2
print('union ', u, type(u))

x = s1 ^ s2
print('xor', x, type(x))

d = s1 - s2
print('difference ', s1, '-',s2, d)

sub = s1 <= s2
print(s1, 'is subset of ', s2, sub)

sup = s1 >= s2
print(s1, 'is superset of', s2, sup)

intersection  {3} <class 'set'>
union  {1, 2, 3, 4, 5} <class 'set'>
xor {1, 2, 4, 5} <class 'set'>
difference  {1, 2, 3} - {3, 4, 5} {1, 2}
{1, 2, 3} is subset of  {3, 4, 5} False
{1, 2, 3} is superset of {3, 4, 5} False

Dictionary (dict):
- key/value pair
- associative array, like java hashMap
- it is unordered
- can't be sorted

In [111]:
x = {'tea':3.3, 'coffee':4, 'water':1}
print(x)

y = dict([('tea',3.3),('coffee',4), ('water',2)])
print(y)

z = dict(tea=23, coffee=43,water=111)
print(z)

{'tea': 3.3, 'coffee': 4, 'water': 1}
{'tea': 3.3, 'coffee': 4, 'water': 2}
{'tea': 23, 'coffee': 43, 'water': 111}

dict operations

In [118]:
# add cola to dictionary x
x = {'tea':3.3, 'coffee':4, 'water':1}
x['cola'] = 10 # if cola was already there then it would update its value
print(x)

del(x['cola'])
print(x)

# del(x['class'])  # throws error because class is not a member of x (KeyError: 'class')
# print(x)

print('length of x', len(x))

x.clear()
print(x)

del(x)

{'tea': 3.3, 'coffee': 4, 'water': 1, 'cola': 10}
{'tea': 3.3, 'coffee': 4, 'water': 1}
length of x 3
{}

accessing keys and values in a dict:
we can access keys and values separately (won't work with python 2.0 or below)

In [126]:
x = {'tea':3.3, 'coffee':4, 'water':1}

keys = x.keys()
print(keys, type(keys), id(keys))

values = x.values()
print(values, type(values), id(values))

items = x.items()
print(items, type(items), id(items))

for key, value in items:
    print(key, value)


print('coffee' in x) # check for keys automatically
print('jack' in x)

print(3 in x.values())
print(3.3 in x.values())

dict_keys(['tea', 'coffee', 'water']) <class 'dict_keys'> 4449237456
dict_values([3.3, 4, 1]) <class 'dict_values'> 4449236016
dict_items([('tea', 3.3), ('coffee', 4), ('water', 1)]) <class 'dict_items'> 4449235008
tea 3.3
coffee 4
water 1
True
False
False
True

iterating a dict

In [130]:
x = {'tea':3.3, 'coffee':4, 'water':1}

for key in x:
    print(key)

for key, value in x.items():
    if(key == 'tea'):
        x[key] = 100
    print(key, value)
print(x)

tea
coffee
water
tea 3.3
coffee 4
water 1
{'tea': 100, 'coffee': 4, 'water': 1}

python list comprehensions

structure: new_list = [transform sequence [filter]]

In [131]:
import random

EXAMPLE 1: get values with given range

In [136]:
def get_list_values(end, start = 0, inclusive_end = False):
    end = end + 1 if inclusive_end else end
    lst = [num for num in range(start, end)]
    return lst

val_between_10_99 = get_list_values(99, 10, True)
print(val_between_10_99)

val_between_10_20 = get_list_values(20, 10, False)
print(val_between_10_20)

print('between 10 and 20', str(val_between_10_20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
between 10 and 20 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

EXAMPLE 2: get sqaured values between given range

In [138]:
def get_squared_range(start = 0, end = 0, inclusive_end = False):
    end = end + 1 if inclusive_end else end
    lst = [num ** 2 for num in range(start,end)]
    
    return lst

range_10_20 = get_squared_range(10, 20, inclusive_end=True)
print('values between 10 and 20', range_10_20)

values between 10 and 20 [100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

EXAMPLE 3: get n power of values between range start and end

In [139]:
def get_n_power_range(start = 0, end = 0, power = 1, inclusive_end = False):
    end = end + 1 if inclusive_end else end

    lst = [num ** power for num in range(start,end)]
    return lst

range_10_20_4 = get_n_power_range(10, 20, 4)
print('power 4 of 10 to 20', range_10_20_4)

power 4 of 10 to 20 [10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321]

EXAMPLE 4: get odd numbers give a range

In [141]:
def get_odd_range(start, end):
    lst = [num for num in range(start, end) if num % 2 != 0]
    return lst

odd_5_20 = get_odd_range(5, 20)
print('odd value between 5 and 20', odd_5_20)

odd value between 5 and 20 [5, 7, 9, 11, 13, 15, 17, 19]

EXAMPLE 5: get mulitply of 10

In [142]:
def get_multiply_10(start, end):
    return [num for num in range(start, end) if num % 10 == 0]
    
print(get_multiply_10(5, 29))

[10, 20]

EXAMPLE 6: get all numbers from a string

In [147]:
s = 'I love 2 go t0 7eleven and 3at.'
nums = [int(chr) for chr in (s) if chr.isdigit()]
print(nums)
print(sum(nums))

[2, 0, 7, 3]
12

EXAMPLE 7: get index of a given item

In [148]:
s = 'I love 2 go t0 7eleven and 3at.'
index_of_nums = [i for i,v in enumerate(s) if v.isdigit()] 
print(index_of_nums)

[7, 13, 15, 27]

EXAMPLE 8: given a list delete give item

In [150]:
letters = [x for x in 'abcdef']
print(letters)

random.shuffle(letters)
print(letters)

#return all values that are not d
not_d_lst = [chr for chr in letters if chr != 'd']
print('no d here', not_d_lst)

['a', 'b', 'c', 'd', 'e', 'f']
['e', 'd', 'c', 'f', 'b', 'a']
no d here ['e', 'c', 'f', 'b', 'a']

if - else condition in comprehension

- if and else should come before iteration

EXAMPLE 9: mulitply only even by 10

In [151]:
nums = [num for num in range(1, 20)]

even_multiply = [num * 10 if num % 2 == 0 else num for num in nums]
print(even_multiply)

[1, 20, 3, 40, 5, 60, 7, 80, 9, 100, 11, 120, 13, 140, 15, 160, 17, 180, 19]

nested loop iteration for 2d lst

b is the subsets, x is the value

In [152]:
a = [[1,2], [3,4]]
new_lst = [x*2 for b in a for x in b]
print(new_lst)

[2, 4, 6, 8]